/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 /* #nav-li {
   color: black !important;
 } */
 #album-art {
  border: 2px solid #ddd;
  border-radius: 4px;
  border-color: white;
  padding: 5px;
  width: 350px;
  height: 350px;
 }

 #banner-div {
  background-color: rgba(19, 28, 32, 0.801);
  padding: 15px;
  border-radius: 25px;
/*   opacity: .8;
 */  position: relative; 
  top: 55px;
 }
 
 #change-font {
  font-size: 75px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: underline;
  text-shadow: 2px 2px #1a93c4;
  margin: 5%;
 }

 ul.nav-list {
  font-family: "Audiowide", sans-serif;
}
.navcss {
  height: 100px;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ffffff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  @media only screen and (max-width : 1630px) {
/*     .parallax-container .section {
      position: absolute;
      top: 40%;
    } */
    #index-banner .section {
      top: 10%;
    }
    #album-art {
      width: 300px;
      height: 300px;
     }
     #change-font {
      text-decoration: underline;
      font-size: 65px;
     }
     #banner-div {
      padding: 20px;
      position: relative; 
      top: 30px;
     }
     .navcss {
      height: 80px;
    }
    #iframe {
      width: 800px;
      height: 300px;
    }
  }

@media only screen and (max-width : 1400px) {
/*   .parallax-container .section {
    position: absolute;
    top: 40%;
  } */
  #index-banner .section {
    top: 10%;
  }
  #album-art {
    width: 200px;
    height: 200px;
   }
   #change-font {
    text-decoration: underline;
    font-size: 55px;
   }
   #par-image-1 {
     width: 1000px;
     height: 1000px;
   }
   #banner-div {
    padding: 20px;
    position: relative; 
    top: 75px;
   }
   .navcss {
    height: 80px;
  }
  #iframe {
    width: 750px;
    height: 300px;
  }
}

@media only screen and (max-width : 890px) {
  #index-banner .section {
    top: 0;
  }
  #iframe {
    width: 500px;
    height: 250px;
  }
  #album-art {
    width: 150px;
    height: 150px;
   }
   #change-font {
    text-decoration: underline;
    font-size: 40px;
   }
   #par-image-1 {
     width: 1000px;
     height: 1000px;
   }
   #banner-div {
    padding: 5px;
    position: relative; 
    top: 105px;
   }
   .navcss {
    height: 80px;
  }
}
@media only screen and (min-width : 550px) {
  #album-art-div {
    display: none;
  }
}
@media only screen and (max-width : 550px) {
   #iframe {
    width: 350px;
    height: 200px;
  }
}
@media only screen and (max-width : 550px) {
  #album-art-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
  }
  #album-art-1 {
    width: 350px;
    height: 350px;

   }
   #album-art-1:hover {
     opacity: .9;
   }
   #banner-div {
    display: none;
   }
   #iframe {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width : 350px) {
  #album-art-1 {
    width: 300px;
    height: 300px;
   }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: .4;
}

.tour-table {
  font-size: 20px;
  font-family: "Audiowide", sans-serif;
}
#fa {
  padding: 20px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}
#footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#footer-li {
  float: left;
}

#footer-li  a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
